@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  color: #fff;
  background-color: white;
}

header {
  position: fixed;
  display: flex;
  width: 100%;
  margin-inline: auto;
  align-items: center;
  justify-content: space-between;
  background-color: orangered;
  padding: 1rem 0;
  padding-block: 1rem;
  box-shadow: 0 0px 3px gray;
}

.title {
  margin-left: 1rem;
  margin-right: auto;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

#navbar #nav-menu {
  gap: 2rem 1rem;
  padding: 0 2em;
}

#navbar #nav-menu a {
  color: #fff;
  font-size: 1.05rem;
  font-weight: 500;
  padding: 0.5rem 1.5rem;
  border-radius: 999px;
  transition: all 0.2s ease-in-out;
}

#navbar #nav-menu a:hover {
  background-color: #f00;
  color: white;
}

.off-canvas-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
  padding: 0 3rem;
  z-index: 6;
}

.off-canvas {
  position: fixed;
  border-radius: 0 0 0 8px;
  top: 0;
  right: -250px;
  width: 250px;
  height: 55%;
  background-color: orangered;
  transition: right 0.3s ease-in-out;
}

#off-canvas-menu {
  padding: 2rem;
}

main {
  max-width: 1200px;
  margin-inline: auto;
  padding: 4rem 2rem 4rem;
  flex: 1;
  display: flex;
  align-items: center;
}

#content {
  width: 100%;
  margin-right: 1.5rem;
}

/* Service Section */
#service {
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#service h1 {
  margin:0 auto 2rem;
}

/* Description Section */
.description {
  max-width: 1000px;
  width: 100%;
  margin: 4rem auto;
  text-align: center;
  padding: 20px;
  color: #333;
  background-color: whitesmoke;
  flex: 1 1;
}

.description h1 {
  font-size: 32px;
  padding: 1rem;
  margin-bottom: 10px;
}

.description p {
  padding: 10px;
  font-size: 24px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

section {
  max-width: 1200px;
  flex: 1;
  margin: 10px;
  padding: 2opx;
  background-color: whitesmoke;
  text-align: center;
  width: 100%;
  flex: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .8);
}

section:hover {
  transition: ease-in;
}
section h2 {
  font-size: 16px;
  padding: .2rem;
  margin:1.2rem auto;
}

section img {
  max-width: 100%;
  height: auto;
}

section p {
  padding: .4rem;
}

/* About Section */
#about {
  display: flex;
  flex: 1;
  top: 0;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  color: black;
  text-align: center;
}

#about h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

#about img {
  max-width: 100%;
  height: auto;
}

/* Responsive Design */
@media (max-width: 600px) {
  .description h1 {
    font-size: 24px;
    padding: .8rem;
    margin-bottom: .5rem;
  }
  
  .description p {
    padding: .8rem;
    font-size: 18px;
  }

  .content {
    flex-direction: column;
  }

}

@media (min-width: 600px) {
  section {
    flex: 1 1;
  }
}

@media (max-width: 768px) {
  main {
    display: block;
  }
  #nav-menu {
    display: none;
  }
  .off-canvas-toggle {
    display: inline-block;
  }

  .off-canvas {
    display: flex;
    flex-direction: column;
  }

  #off-canvas-menu {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    margin: 1.3rem 0;
  }

  #off-canvas-menu a {
    color: #fff;
    margin: 1.2rem 0;
    text-align: justify;
  }

  .off-canvas.open {
    right: 0;
  }
}

@media (min-width: 769px) {
  #content {
    width: 70%;
  }
  #service {
    flex-direction: column;
    align-items: self-start;
  }

  #service h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  section {
    flex: 1;
    max-width: 400px;
    max-width: calc(33.33% - 20px);
  }

  #about {
    margin-left: 20px;
    margin-top: -18rem;
    max-width: 30%;
  }
}
